<div class="block block-posts block-posts--layout--{{ layout }}" [attr.data-layout]="layout">
  <div class="container pt-3">
    <div class="block-posts__slider">
      <div class="card">
        <div class="card-header p-2 bg-primary text-white">
          <h3>Add Items To Main Catelog</h3>
        </div>
        <div class="card-divider"></div>
        <div class="card-body p-1">

          <div class="card">
            <div class="card-header bg-dark  text-white p-2 ">
              <p class="m-0">Main catalog is the place where all the master items resids on. you can search through this
                list to find out existing items those not in the main product database and add them by filling rest of
                the essential details</p>
            </div>
            <div class="card-divider"></div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-xl-6 border border-secondary p-1">

                
                  <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th>ID</th>
                        <th>Catelog Name</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of SpecItemMapped() ; let i = index" (click)="setClickedRowSpecMaster(i,obj)"
                        [class.active]="i == SelectedRowItemIndex">
                        <td>{{ obj.Id }}</td>
                        <td>{{ obj.Name }}</td>
                        <td> <button class="btn btn-primary btn-sm mr-1" (click)="btn_Delete_click(obj)">Remove</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeItem" [(page)]="pageItem"
                      [pageSize]="pageSizeItem" [maxSize]="3" [rotate]="true" [ellipses]="false"
                      [boundaryLinks]="true">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeItem">
                      <option [ngValue]="5">5 items per page</option>
                      <option [ngValue]="10">10 items per page</option>
                      <option [ngValue]="20">20 items per page</option>
                    </select>
                  </div>

                </div>
                <div class="col-md-6 col-xl-6">

                  <form [formGroup]="angForm" novalidate>
                    <!-- /*/*/*/*/*/**/*/*/*/*/*/*  (Level1Id)  */*/*/*/*/*/*/*/*//**/**/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"><b>Select a Brand</b></label>
                      <select  class="form-control" formControlName="BrandId" id="Brand_ID">
                        <option *ngFor="let model of bindingBrands" [ngValue]="model">{{model.Name}}</option>
                      </select>
                    </div>
                    <div
                      *ngIf="angForm.controls['BrandId'].invalid && (angForm.controls['BrandId'].dirty || angForm.controls['BrandId'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm.controls['BrandId'].errors.required">
                        Brand is required.
                      </div>
                    </div>
                    <!-- /*/*/*/*/*/**/*/*/*/*/*/*  (Brand)  */*/*/*/*/*/*/*/*//**/**/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"><b>Select a Series</b></label>
                      <select  class="form-control" formControlName="SeriesId" id="Brand_ID">
                        <option *ngFor="let model of bindingSeries" [ngValue]="model">{{model.Name}}</option>
                      </select>
                    </div>
                    <div
                      *ngIf="angForm.controls['SeriesId'].invalid && (angForm.controls['SeriesId'].dirty || angForm.controls['SeriesId'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm.controls['SeriesId'].errors.required">
                        Series is required.
                      </div>
                    </div>
                    <!-- /*/*/*/*/*/**/*/*/*/*/*/*  (Model)  */*/*/*/*/*/*/*/*//**/**/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"><b>Select a Model</b></label>
                      <select  class="form-control" formControlName="ModelId" id="Brand_ID">
                        <option *ngFor="let model of bindingModels" [ngValue]="model">{{model.Name}}</option>
                      </select>
                    </div>
                    <div
                      *ngIf="angForm.controls['ModelId'].invalid && (angForm.controls['ModelId'].dirty || angForm.controls['ModelId'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm.controls['ModelId'].errors.required">
                        Model is required.
                      </div>
                    </div>
                    <!-- /*/*/*/*/*/**/*/*/*/*/*/*  (Series)  */*/*/*/*/*/*/*/*//**/**/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->

                    <div class="form-group">
                      <label for="exampleFormControlSelect1"><b>Select a Category</b></label>
                      <select  class="form-control" formControlName="CategoryId" id="Brand_ID">
                        <option *ngFor="let model of bindingCategories" [ngValue]="model">{{model.Level1Name}}</option>
                      </select>
                    </div>
                    <div
                      *ngIf="angForm.controls['CategoryId'].invalid && (angForm.controls['CategoryId'].dirty || angForm.controls['CategoryId'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm.controls['CategoryId'].errors.required">
                        Category is required.
                      </div>
                    </div>

                    <!-- /*/*/*/*/*/**/*/*/*/*/*/*  (ProductName)  */*/*/*/*/*/*/*/*//**/**/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->
                    <div class="form-group">
                      <label for="profile-first-name"><b> Enter a Catelog Name</b></label>
                      <input type="text" class="form-control" id="profile-first-name" placeholder="Product Name"
                        formControlName="ProductName">
                    </div>
                    <div
                      *ngIf="angForm.controls['ProductName'].invalid && (angForm.controls['ProductName'].dirty || angForm.controls['ProductName'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm.controls['ProductName'].errors.required">
                        Catelog Name is required.
                      </div>
                    </div>

                    <div>
                      <a href="" class="mr-3"> <i class="fas fa-question-circle mr-1"></i>I need help!</a>
                      <a href=""> <i class="far fa-file-excel mr-1"></i>Download Excel Format</a>
                    </div>
                    <div class="form-group mt-1 mb-0">
                      <button class="btn btn-primary btn-sm mr-1" (click)="btn_excelUpload_click()"><span><i
                            class="far fa-file-excel mr-1"></i></span> Excel Upload</button>
                      <button class="btn btn-primary btn-sm mr-1" (click)="btn_save_click()"><span><i
                            class="far fa-save mr-1"></i></span>Save</button>
                      <button class="btn btn-primary btn-sm mr-1" (click)="btn_update_click()"><span><i
                            class="fa fa-external-link-alt mr-1"></i></span>Update</button>
                   
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end card body -->
          </div>
        </div>

      </div>
    </div>
  </div>