<div class="block block-posts block-posts--layout--{{ layout }}" [attr.data-layout]="layout">
  <div class="container pt-3">
    <div class="block-posts__slider">
      <div class="card">
        <div class="card-header p-2 bg-primary text-white">
          <h3>Product Specification Parameters</h3>
        </div>
        <div class="card-divider"></div>
        <div class="card-body p-1">

          <div class="card">
            <div class="card-header bg-transparent border-success border border-secondary p-2">
              <h5>Specification Master</h5>
              <p class="m-0 font-9">This will define your specification templates.you cand define one for each category</p>
            </div>
            <div class="card-divider"></div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-xl-6 p-1">

                  <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th>ID</th>
                        <th>SpecMaster Name</th>
                        <th>Approved</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of BrandsSM() ; let i = index" (click)="setClickedRowSpecMaster(i,obj)"
                        [class.active]="i == SelectedRowSpecMasterIndex">
                        <td>{{ obj.Id }}</td>
                        <td>{{ obj.SpecName }}</td>
                        <td>{{ obj.IsApproved }}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSizeSpecMaster" [(page)]="pageSpecMaster"
                      [pageSize]="pageSizeSpecMaster" [maxSize]="3" [rotate]="true" [ellipses]="false"
                      [boundaryLinks]="true">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeSpecMaster">
                      <option [ngValue]="5">5 items per page</option>
                      <option [ngValue]="10">10 items per page</option>
                      <option [ngValue]="20">20 items per page</option>
                    </select>
                  </div>

                </div>
                <div class="col-md-6 col-xl-6">

                  <form [formGroup]="angForm" novalidate>
                    <div class="form-group">
                      <label for="profile-first-name"><b>Specification Master Name</b></label>
                      <input type="text" class="form-control" id="profile-first-name" placeholder="Spec Master Name"
                        formControlName="spec_name">
                    </div>
                    <div
                      *ngIf="angForm.controls['spec_name'].invalid && (angForm.controls['spec_name'].dirty || angForm.controls['spec_name'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm.controls['spec_name'].errors.required">
                        Spec master name is required.
                      </div>
                    </div>
                    <div>
                      <i class="fas fa-question-circle mr-1"></i>
                      <a href="">I need help!</a>
                    </div>
                    <div class="form-group mt-1 mb-0">
                      <button class="btn btn-primary btn-sm mr-1" (click)="Addspecmaster()"><span><i
                            class="far fa-save mr-1"></i></span>Save</button>
                      <button class="btn btn-primary btn-sm mr-1" (click)="Updatespecmaster()"><span><i
                            class="fa fa-external-link-alt mr-1"></i></span>Update</button>
                      <button class="btn btn-danger btn-sm" (click)="Deletespecmaster()"><span><i
                            class="far fa-trash-alt mr-1"></i></span>Delete</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end card body -->
          </div>



          <div class="card">
            <div class="card-header bg-transparent border-success border border-secondary p-2">
              <h5>Select Specification Details</h5>
              <p class="m-0 font-9">Select master parameter from the top and add detail parameters for it</p>
            </div>
            <div class="card-divider"></div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-xl-6 p-1">
                   
                  <label for="profile-first-name"><b>Current Spec Items</b></label>
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead class="thead-dark">
                          <tr>
                            <th>Display Name</th>
                            <th>DataType</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of SpecItemMapped() ; let i = index" (click)="setClickedRowSpecItem(i,obj)"
                            [class.active]="i == SelectedRowSpecIndex">
                            <td>{{ obj.SpecItemDisplayName }}</td>
                            <td>{{ obj.DataType }}</td>
                            <td> <button class="btn btn-primary btn-sm mr-1" (click)="btn_Add_specItemToList(obj)">Add</button></td>
                          </tr>
                        </tbody>
                      </table>
    
                      <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSizeSpec" [(page)]="pageSpec"
                          [pageSize]="pageSizeSpec" [maxSize]="3" [rotate]="true" [ellipses]="false"
                          [boundaryLinks]="true">
                        </ngb-pagination>
    
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeSpec">
                          <option [ngValue]="5">5 items per page</option>
                          <option [ngValue]="10">10 items per page</option>
                          <option [ngValue]="20">20 items per page</option>
                        </select>
                      </div>
    
               

                </div>
                <div class="col-md-6 col-xl-6 p-1">

                  <!-- <form [formGroup]="angForm1" novalidate>

                    <div class="form-group">
                      <label for="profile-first-name"><b>Specification Detail Name</b></label>
                      <input type="text" class="form-control" id="profile-first-name" placeholder="Spec Master Name"
                        formControlName="spec2_name">
                    </div>
                    <div
                      *ngIf="angForm1.controls['spec2_name'].invalid && (angForm1.controls['spec2_name'].dirty || angForm1.controls['spec2_name'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm1.controls['spec2_name'].errors.required">
                        Specification Detail Name is required.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"><b>Specification Detail DataType</b></label>
                      <select class="form-control" formControlName="dattype" id="exampleFormControlSelect1">
                        <option>Text</option>
                        <option>Integer</option>
                        <option>Date and Time</option>
                        <option>Decimal</option>
                        <option>Yes/No</option>

                      </select>
                    </div>
                    <div
                      *ngIf="angForm1.controls['dattype'].invalid && (angForm1.controls['dattype'].dirty || angForm1.controls['dattype'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="angForm1.controls['dattype'].errors.required">
                        Specification Detail DataType is required.
                      </div>
                    </div>

                    <div>

                      <a href="" class="mr-3"> <i class="fas fa-question-circle mr-1"></i>I need help!</a>


                      <a href=""> <i class="far fa-file-excel mr-1"></i>Download Excel Format</a>

                    </div>
                    <div class="form-group mt-1 mb-0">
                      <button class="btn btn-primary btn-sm mr-1" (click)="Addspecdetail()"><span><i
                            class="far fa-file-excel mr-1"></i></span> Excel Upload</button>
                      <button class="btn btn-primary btn-sm mr-1" (click)="Addspecdetail()"><span><i
                            class="far fa-save mr-1"></i></span>Save</button>
                      <button class="btn btn-primary btn-sm mr-1" (click)="Updatespecdetail()"><span><i
                            class="fa fa-external-link-alt mr-1"></i></span>Update</button>
                      <button class="btn btn-danger btn-sm" (click)="Deletespecdetail()"><span><i
                            class="far fa-trash-alt mr-1"></i></span>Delete</button>
                    </div>
                  </form> -->

                  <label for="profile-first-name"><b>Spec Items For "Spec Master name" </b></label>
                  <table class="table table-striped table-bordered table-hover table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th>Display Name</th>
                          <th>Value</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of SpecDetMapped() ; let i = index" (click)="setClickedRowSpecdet(i,obj)"
                          [class.active]="i == SelectedRowSpecdetIndex">
                          <td>{{ obj.SpecItemDisplayName }}</td>
                          <td>{{ obj.DataType }}</td>
                          <td> <button class="btn btn-primary btn-sm mr-1" (click)="btn_Remove_specItem(obj)">
                              <span><i
                                class="far fa-save mr-1"></i></span>
                          </button></td>
                        </tr>
                      </tbody>
                    </table>
  
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [collectionSize]="collectionSizeSpecdet" [(page)]="pageSpecdet"
                        [pageSize]="pageSizeSpecdet" [maxSize]="3" [rotate]="true" [ellipses]="false"
                        [boundaryLinks]="true">
                      </ngb-pagination>
  
                      <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeSpecdet">
                        <option [ngValue]="5">5 items per page</option>
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                      </select>
                    </div>

                </div>
              </div>

            </div>
            <!-- end card body -->
            <div class="card-footer border-top">
                <div class="form-group mt-1 mb-0">
                    <button class="btn btn-primary btn-sm mr-1" (click)="Addspecdetail()"><span><i
                          class="far fa-save mr-1"></i></span>Clear Spec Items</button>
                    <!-- <button class="btn btn-primary btn-sm mr-1" (click)="Updatespecdetail()"><span><i
                          class="fa fa-external-link-alt mr-1"></i></span>Update</button>
                    <button class="btn btn-danger btn-sm" (click)="Deletespecdetail()"><span><i
                          class="far fa-trash-alt mr-1"></i></span>Delete</button> -->
                  </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>